input:
  format: hackrf
  samplerate: 48000
  basefreq: 10000000
processing:
  chunksize: 32
  resamplerate: 6000
  fft: 4096
  fftoverlap: 7
output:
  orientation: horizontal
  minutesperframe: 10
  font: "ttf-dejavu/DejaVuSans.ttf"
  fontsize: 8
  freqmin: 300
  freqmax: 2700
  dBmin: -30
  dBmax: 0
upload:
  - type: local
    dir: /tmp
  - type: scp
    host: localhost
    port: 22
    user: qrsspig
    dir: /tmp
