input:
  format: hackrf
  samplerate: 8000
  basefreq: 10000000
processing:
  fft: 4096
  fftoverlap: 7
output:
  orientation: horizontal
  freqrel: true
  freqmin: 0
  freqmax: 2500
  dBmin: -30
  dBmax: 0
  secondsperframe: 1200
  framesize: 500
upload:
  - type: local
    dir: /tmp
  - type: scp
    host: localhost
    port: 22
    user: qrsspig
    dir: /tmp
